/* Tailwind configuration */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Links */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Oswald&family=Preahvihear&family=Prompt:wght@500&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@700&family=Inter&family=Josefin+Sans&family=Oswald&family=Preahvihear&family=Prompt:wght@500&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+SA+Beginner:wght@700&family=Inter&family=Josefin+Sans&family=Oswald&family=Preahvihear&family=Prompt:wght@500&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:wght@600&family=Edu+SA+Beginner:wght@700&family=Inter&family=Josefin+Sans&family=Oswald&family=Preahvihear&family=Prompt:wght@500&family=Righteous&display=swap");

/* Addition animation for intro and some text */

.animated-text {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
